# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

#Doctrine 2
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/

# Legacy ZF1
demos/
extras/documentation

config/autoload/global.php
public/admin_template
public/css
public/fonts
public/img
public/js
public/shared
public/skin
public/uploads
public/vendor
public/app
.phpintel/
